<% if current_admin.email == "mjones0796@gmail.com" %>
<body>
<div style="width:120%;">
<div style="padding: 0 40px;">

<h1> Listing all Donations: <%= DonationForm.count %></h1>

<table cellspacing="10" style="border: 1px solid #ececec; width: 140%; margin: 20px 0;">
  <tr>
    <th>Name Sender</th>
    <th>BRID Sender</th>
    <th>Email Sender</th>
    <th>Name Receiver</th>
    <th>BRID Receiver</th>
    <th>Email Receiver</th>
    <th>Receiver Floor No.</th>
    <th>Receiver Seat No.</th>
    <th>No. of Cupcakes</th>
    <th>Flavour</th>
    <th>Personal Message</th>
  </tr>
  <% @donation_forms.each do |donation_form| %>
  <tr>
    <td><%= donation_form.name_of_sender %></td>
    <td><%= donation_form.brid_of_sender %></td>
    <td><%= donation_form.email_of_sender %></td>
    <td><%= donation_form.name_of_receiver %></td>
    <td><%= donation_form.brid_of_receiver %></td>
    <td><%= donation_form.email_of_receiver %></td>
    <td><%= donation_form.receiver_floor_number %></td>
    <td><%= donation_form.receiver_seat_number %></td>
    <td><%= donation_form.number_of_cakes %></td>
    <td><%= donation_form.flavour[0] %></td>
    <td><%= donation_form.personal_message %></td>
  </tr>

  <% end %>
  </table>
  </div>
</div>
</body>
  <% else %>
  <% end %>
